# This is Git's per-user configuration file.

[user]
	name = Edward Cardinal
	email = edcgit@mindthump.com
[core]
	autocrlf = input
	eol = lf
	excludesfile = /Users/ed/.gitignore_global
[credential]
	helper = store
[pull]
	rebase = false

[difftool]
	prompt = false
	keepBackup = false
	trustExitCode = false
[difftool "p4merge"]
	path = /mnt/c/Program Files/Perforce/p4merge.exe
[difftool "meld"]
	path = /Applications/Meld.app/Contents/MacOS/Meld
[difftool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[mergetool "p4merge"]
	path = /mnt/c/Program Files/Perforce/p4merge.exe
[mergetool "meld"]
	path = /Applications/Meld.app/Contents/MacOS/Meld
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[mergetool "vim"]
	cmd = vim -f -c \"Gvdiffsplit!\" \"$MERGED\"
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true

[diff]
	tool = bc3
[merge]
	tool = bc3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[mergetool "bc3"]
	trustExitCode = true
