# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Ed Cardinal
	email = ed.cardinal@wdc.com
[core]
	excludesfile = /Users/ec31845/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ec31845/.stCommitMsg
[gc]
	autoDetach = false
[mergetool "araxis"]
	path = /Applications/Araxis Merge.app/Contents/Utilities/compare
[merge]
	tool = araxis
