# This is Git's per-user configuration file.

[user]
	name = Ed Cardinal
	email = edcgit@mindthump.com
[core]
	autocrlf = input
	eol = lf
[credential]
	helper = store
[pull]
	rebase = false

[difftool]
	prompt = false
	keepBackup = false
	trustExitCode = false
[difftool "p4merge"]
	path = /mnt/c/Program Files/Perforce/p4merge.exe
[difftool "meld"]
	path=/usr/local/bin/meld
[difftool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[mergetool]
	prompt = false
	keepBackup = false
	keepTemporaries = false
[mergetool "p4merge"]
	path = /mnt/c/Program Files/Perforce/p4merge.exe
[mergetool "meld"]
	path = /usr/local/bin/meld
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3

[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
