alias lll="exa -l --icons --no-user --tree --level 2 --color always | less"
alias lal="exa -al --icons --no-user --tree --level 2 --color always | less"
alias ydl="youtube-dl --no-check-certificate --ignore-errors"
alias now="date -u +%Y%m%d_%H%M%SZ"
alias -g B='| bat'
alias -g Bj='| bat -l json'
alias -g By='| bat -l yaml'

agc ()
{
  /usr/local/bin/ag --color $@ | less -S
}

lg()
{
    export LAZYGIT_NEW_DIR_FILE=/Users/ed/.lazygit/newdir

    lazygit "$@"

    if [ -f $LAZYGIT_NEW_DIR_FILE ]; then
            cd "$(cat $LAZYGIT_NEW_DIR_FILE)"
            rm -f $LAZYGIT_NEW_DIR_FILE > /dev/null
    fi
}

alias h=history

# Directory-specific tmux windows
alias tpaf='tmux neww -c /Users/ed/repos/python_app_framework -n paf'
alias tvkk='tmux neww -c /Users/ed/repos/vagrant-kubeadm-kubernetes -n vkk'
alias ttk='tmux neww -c /Users/ed/repos/toolkit -n tk'
alias tcka='tmux neww -c /Users/ed/repos/udemy-cka-course -n cka-course'
alias tkmaster='tmux neww -c /Users/ed/repos/vagrant-kubeadm-kubernetes -n k8s-master vagrant ssh master -c tmux'
alias tknode01='tmux neww -c /Users/ed/repos/vagrant-kubeadm-kubernetes -n k8s-node01 vagrant ssh node01 -c tmux'
alias tknode02='tmux neww -c /Users/ed/repos/vagrant-kubeadm-kubernetes -n k8s-node02 vagrant ssh node02 -c tmux'
alias lgtk='tmux new-window -n TK lazygit -p /Users/ed/repos/toolkit'
alias lgpaf='tmux new-window -n PAF lazygit -p /Users/ed/repos/python_app_framework'
alias lgdot='tmux new-window -n DOT lazygit -p /Users/ed/.dotfiles'
alias lgkj='tmux new-window -n J-K lazygit -p /Users/ed/repos/kubernetes-jenkins'
